{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block description %}S'inscrire sur Codersaurus Rex, référence francophone du développement et la programmation !{% endblock %}

{% block body %}
    <div class="container my-4 col-12 col-md-6 col-lg-4">

        {{ form_start(registrationForm, {
            attr: {
                class: 'auth-form p-4'
            }
        }) }}

            <h1>S'inscrire sur Codersaurus Rex</h1>

            {# Email #}
            <div class="mb-4">
                {{ form_label(registrationForm.email, 'Email', {
                    label_attr: {
                        class: 'form-label'
                    }
                }) }}
                {{ form_widget(registrationForm.email, {
                    attr: {
                        'class': 'form-control',
                        'placeholder': 'Votre addresse mail'
                    }
                }) }}
                {{ form_help(registrationForm.email, {
                    help_attr: {
                        class: 'form-text'
                    }
                }) }}
                {# Error #}
                {% if form_errors(registrationForm.email) %}
                    <div class="text-danger">{{ form_errors(registrationForm.email) }}</div>
                {% endif %}
            </div>

            {# Pseudo #}
            <div class="mb-4">
                {{ form_label(registrationForm.username, 'Pseudo', {
                    label_attr: {
                        class: 'form-label'
                    }
                }) }}
                {{ form_widget(registrationForm.username, {
                    attr: {
                        'class': 'form-control',
                        'placeholder': 'Votre super pseudo'
                    }
                }) }}
                {{ form_help(registrationForm.username, {
                    help_attr: {
                        class: 'form-text'
                    }
                }) }}
                {# Error #}
                {% if form_errors(registrationForm.username) %}
                    <div class="text-danger">{{ form_errors(registrationForm.username) }}</div>
                {% endif %}
            </div>

            {# Password #}
            <div class="mb-4">
                {{ form_label(registrationForm.password.first, 'Mot de passe', {
                    label_attr: {
                        class: 'form-label'
                    }
                }) }}
                {{ form_widget(registrationForm.password.first, {
                    attr: {
                        'class': 'form-control',
                        'placeholder': 'Votre mot de passe top secret'
                    }
                }) }}
                {{ form_help(registrationForm.password.first, {
                    help_attr: {
                        class: 'form-text'
                    }
                }) }}
                {# Error #}
                {% if form_errors(registrationForm.password.first) %}
                    <div class="text-danger">{{ form_errors(registrationForm.password.first) }}</div>
                {% endif %}
            </div>

            {# Repeat Password #}
            <div class="mb-4">
                {{ form_label(registrationForm.password.second, 'Répétez votre mot de passe', {
                    label_attr: {
                        class: 'form-label'
                    }
                }) }}
                {{ form_widget(registrationForm.password.second, {
                    attr: {
                        'class': 'form-control',
                        'placeholder': 'Oui, oui, le même !'
                    }
                }) }}
                {{ form_help(registrationForm.password.second, {
                    help_attr: {
                        class: 'form-text'
                    }
                }) }}
                {# Error #}
                {% if form_errors(registrationForm.password.second) %}
                    <div class="text-danger">{{ form_errors(registrationForm.password.second) }}</div>
                {% endif %}
            </div>

            {# RGPD #}
            <div class="mb-4">
                {{ form_label(registrationForm.agreeTerms, 'J\'accepte la politique de confidentialité', {
                    label_attr: {
                        class: 'form-label'
                    }
                }) }}
                {{ form_widget(registrationForm.agreeTerms, {
                    attr: {
                        'class': 'form-check-input mx-3'
                    }
                }) }}
                {# Error #}
                {% if form_errors(registrationForm.agreeTerms) %}
                    <div class="text-danger">{{ form_errors(registrationForm.agreeTerms) }}</div>
                {% endif %}
            </div>

            {# Submit #}
            <div class="mb-4 d-flex flex-column flex-lg-row justify-content-between align-items-center">
                <button type="submit" class="btn btn-primary mb-3 mb-lg-0">S'inscrire</button>
                <p>Déjà un compte ? <a href="{{ path('app_login') }}">Connecte-vous !</a></p>

            </div>

        {{ form_end(registrationForm) }}

    </div>
{% endblock %}
