{% block article %}
<!-- Single article -->
<div class="col-10 col-md-5 mx-auto my-2 my-md-4">
    <a href="{{ path('app_article_show', { slug: article.slug }) }}" class="card-link text-decoration-none">
        <div class="card h-100">
            <img src="{{ article.thumbnailUrl }}" class="card-img-top" alt="{{ article.title }}">
            <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <p class="card-text">
                {{ article.extract }}
            </p>
            <aside class="row my-3">
                <p class="col-12 col-lg-6 text-decoration-none fw-bold card-author">Par {{ article.author.username }}</p>
                <p class="col-12 col-lg-6 text-muted fst-italic">{{ article.createdAt|ago(locale='fr') }}</p>
                <p class="col-12 col-lg-6">
                    {% for category in article.categories %}
                        {{ category.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p class="col-12 col-lg-6 fst-italic">{{ article.viewsCount }} vues</p>
            </aside>
            </div>
        </div>
    </a>
</div>
{% endblock %}