{% extends 'base.html.twig' %}

{% block title %}Menu de la rédaction{% endblock %}

{% block body %}
<div class="users-index container my-3">
    <h1>Menu de la rédaction</h1>

    <!-- Display user -->
    {% for article in articles %}
        <div class="user-card card my-3">
            <div class="row">
                {# Thumbnail #}
                <div class="col-12 col-sm-4 col-lg-2 d-flex justify-content-center align-items-center my-1 my-lg-0">
                    <img class="col-10 img-thumbnail object-fit-cover" src="{{ article.thumbnailUrl }}" alt="Image de l'article {{ article.title }}">
                </div>
                
                {# Container #}
                <div class="col-12 col-sm-8 col-lg-10 d-flex flex-column flex-lg-row align-items-center justify-content-center justify-content-lg-between p-1 p-lg-5 text-break">
                    {# Title #}
                    <div class="col-10 col-lg-3 text-center">
                        <h2 class="fw-bold fs-3">{{ article.title }}</h2>
                    </div>
                    {# Validation #}
                    <div class="col-10 col-lg-2 text-center">
                        {% if article.isValidated == true %}
                            {# Invalidate #}
                            <a href="{{ path('app_article_show', { 'slug': article.slug }) }}" class="btn btn-success my-1 my-lg-0">Validé</a>
                        {% else %}
                            {# Validate #}
                            {% include "article/_validation_form.html.twig" %}
                        {% endif %}
                    </div>
                    {# Show #}
                    <div class="col-10 col-lg-2 text-center">
                        <a href="{{ path('app_article_show', { 'slug': article.slug }) }}" class="btn btn-primary my-1 my-lg-0">Voir</a>
                    </div>
                    {# Edit#}
                    <div class="col-10 col-lg-2 text-center">
                        <a href="{{ path('app_article_edit', { 'slug': article.slug }) }}" class="btn btn-warning my-1 my-lg-0">Modifier</a>
                    </div>
                    {# Delete #}
                    <div class="col-10 col-lg-2 text-center">
                        {% include "article/_delete_form.html.twig" %}
                    </div>
                </div>

            </div>
        </div>
    {% endfor %}


</div>
{% endblock %}
