{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    <div class="container my-4 col-12 col-lg-10">

        {{ form_start(form, {
            attr: {
                class: 'auth-form p-4'
            }
        }) }}

        <h1>Nouvel article</h1>

        {# Comment #}
        <div class="mb-4">
            {{ form_label(form.title, 'Titre', {
                label_attr: {
                    class: 'form-label'
                }
            }) }}
            {{ form_widget(form.title, {
                attr: {
                    'class': 'form-control',
                }
            }) }}
            {{ form_help(form.title, {
                help_attr: {
                    class: 'form-text'
                }
            }) }}
            {% if form_errors(form.title) %}
                <div class="text-danger">{{ form_errors(form.title) }}</div>
            {% endif %}
        </div>

        {# Extrait #}
        <div class="mb-4">
            {{ form_label(form.extract, 'Résumé de l\'article', {
                label_attr: {
                    class: 'form-label'
                }
            }) }}
            {{ form_widget(form.extract, {
                attr: {
                    'class': 'form-control',
                }
            }) }}
            {{ form_help(form.extract, {
                help_attr: {
                    class: 'form-text'
                }
            }) }}
            {% if form_errors(form.extract) %}
                <div class="text-danger">{{ form_errors(form.extract) }}</div>
            {% endif %}
        </div>

        {# Tags #}
        <div class="mb-4">
            {{ form_label(form.tags, 'Sujets traités par l\'article', {
                label_attr: {
                    class: 'form-label'
                }
            }) }}
            {{ form_widget(form.tags, {
                attr: {
                    class: 'btn-group',
                }
            }) }}
            {{ form_help(form.tags, {
                help_attr: {
                    class: 'form-text'
                }
            }) }}
            {% if form_errors(form.tags) %}
                <div class="text-danger">{{ form_errors(form.tags) }}</div>
            {% endif %}
        </div> 

        {# Content #}
        <div class="mb-4">
            {{ form_label(form.content, 'Texte de l\'article', {
                label_attr: {
                    class: 'form-label'
                }
            }) }}
            {{ form_widget(form.content, {
                attr: {
                    'class': 'form-control',
                }
            }) }}
            {{ form_help(form.content, {
                help_attr: {
                    class: 'form-text'
                }
            }) }}
            {% if form_errors(form.content) %}
                <div class="text-danger">{{ form_errors(form.content) }}</div>
            {% endif %}
        </div>

        {# Meta Title #}
        <div class="mb-4">
            {{ form_label(form.meta_title, 'SEO - Meta Title', {
                label_attr: {
                    class: 'form-label'
                }
            }) }}
            {{ form_widget(form.meta_title, {
                attr: {
                    'class': 'form-control',
                }
            }) }}
            {{ form_help(form.meta_title, {
                help_attr: {
                    class: 'form-text'
                }
            }) }}
            {% if form_errors(form.meta_title) %}
                <div class="text-danger">{{ form_errors(form.meta_title) }}</div>
            {% endif %}
        </div>

        {# Meta Description #}
        <div class="mb-4">
            {{ form_label(form.meta_description, 'SEO - Meta Description', {
                label_attr: {
                    class: 'form-label'
                }
            }) }}
            {{ form_widget(form.meta_description, {
                attr: {
                    'class': 'form-control',
                }
            }) }}
            {{ form_help(form.meta_description, {
                help_attr: {
                    class: 'form-text'
                }
            }) }}
            {% if form_errors(form.meta_description) %}
                <div class="text-danger">{{ form_errors(form.meta_description) }}</div>
            {% endif %}
        </div>


        {{ form_end(form )}}
    </div>
{% endblock %}
