{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}
{% block description %}Soumettez un article pour contribuer au développement de Codersaurus Rex, la référence des Dev !{% endblock %}

{% block body %}
    <div class="container my-4 col-12 col-lg-10">

        {{ form_start(form, {
            attr: {
                class: 'auth-form p-4'
            }
        }) }}

        <h1>Nouvel article</h1>

        {# Title #}
        <div class="mb-4">
            {{ form_label(form.title, 'Titre', {
                label_attr: {
                    class: 'form-label'
                }
            }) }}
            {{ form_widget(form.title, {
                attr: {
                    'class': 'form-control',
                }
            }) }}
            {{ form_help(form.title, {
                help_attr: {
                    class: 'form-text'
                }
            }) }}
            {% if form_errors(form.title) %}
                <div class="text-danger">{{ form_errors(form.title) }}</div>
            {% endif %}
        </div>

        {# Extrait #}
        <div class="mb-4">
            {{ form_label(form.extract, 'Résumé de l\'article', {
                label_attr: {
                    class: 'form-label'
                }
            }) }}
            {{ form_widget(form.extract, {
                attr: {
                    'class': 'form-control',
                }
            }) }}
            {{ form_help(form.extract, {
                help_attr: {
                    class: 'form-text'
                }
            }) }}
            {% if form_errors(form.extract) %}
                <div class="text-danger">{{ form_errors(form.extract) }}</div>
            {% endif %}
        </div>

        {# Categories #}
        <div class="mb-4 btn-group d-flex flex-wrap" role="group" aria-label="Basic checkbox toggle button group">
            {% for choice in form.categories %}
                {{ form_widget(choice, {
                    attr: {
                        class: 'btn-check',
                        id: choice.vars.id,
                        autocomplete: 'off'
                    }
                }) }}
                {{ form_label(choice, choice.vars.label, {
                    label_attr: {
                        class: 'btn btn-outline-primary',
                        for: choice.vars.id
                    }
                }) }}
            {% endfor %}
        </div>
        {% if form_errors(form.categories) %}
            <div class="text-danger">{{ form_errors(form.categories) }}</div>
        {% endif %}

        {# Content #}
        <div class="mb-4">
            {{ form_label(form.content, 'Texte de l\'article', {
                label_attr: {
                    class: 'form-label'
                }
            }) }}
            {{ form_widget(form.content, {
                attr: {
                    'class': 'form-control',
                }
            }) }}
            {{ form_help(form.content, {
                help_attr: {
                    class: 'form-text'
                }
            }) }}
            {% if form_errors(form.content) %}
                <div class="text-danger">{{ form_errors(form.content) }}</div>
            {% endif %}
        </div>

        {# Avatar #}
        <div class="mb-4">
            {{ form_label(form.thumbnailUrl, 'Pour définir l\'image mise en avant, téléchargez une image de maximum 1 Mo', {
                label_attr: {
                    class: 'form-label'
                }
            }) }}
            {{ form_widget(form.thumbnailUrl, {
                attr: {
                    'class': 'form-control',
                }
            }) }}
            {{ form_help(form.thumbnailUrl, {
                help_attr: {
                    class: 'form-text'
                }
            }) }}
            {# Error #}
            {% if form_errors(form.thumbnailUrl) %}
                <div class="text-danger">{{ form_errors(form.thumbnailUrl) }}</div>
            {% endif %}
        </div>

        {# Meta Title #}
        <div class="mb-4">
            {{ form_label(form.meta_title, 'SEO - Meta Title', {
                label_attr: {
                    class: 'form-label'
                }
            }) }}
            {{ form_widget(form.meta_title, {
                attr: {
                    'class': 'form-control',
                }
            }) }}
            {{ form_help(form.meta_title, {
                help_attr: {
                    class: 'form-text'
                }
            }) }}
            {% if form_errors(form.meta_title) %}
                <div class="text-danger">{{ form_errors(form.meta_title) }}</div>
            {% endif %}
        </div>

        {# Meta Description #}
        <div class="mb-4">
            {{ form_label(form.meta_description, 'SEO - Meta Description', {
                label_attr: {
                    class: 'form-label'
                }
            }) }}
            {{ form_widget(form.meta_description, {
                attr: {
                    'class': 'form-control',
                }
            }) }}
            {{ form_help(form.meta_description, {
                help_attr: {
                    class: 'form-text'
                }
            }) }}
            {% if form_errors(form.meta_description) %}
                <div class="text-danger">{{ form_errors(form.meta_description) }}</div>
            {% endif %}
        </div>

        {# Submit #}
        <div class="mb-4 d-flex flex-column flex-lg-row justify-content-between align-items-center">
            <button type="submit" class="btn btn-primary mb-3 mb-lg-0">Soumettre l'article à relecture</button>
        </div>


        {{ form_end(form )}}
    </div>
{% endblock %}
