{% extends "base.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}
{% block description %}{{ article.metaDescription }}{% endblock %}

{% block body %}
      <div class="container py-3">
        <!-- Header -->
        <header class="post__header d-flex flex-column text-center">
            <h1>{{ article.title }}</h1>
            <img src="{{ author.avatarLink }}" class="img-thumbnail rounded-circle mx-auto" alt="Auteur de l'article">
            <a class="text-decoration-none" href="{{ path('app_user_show', { id: author.id }) }}">
              <h2 class="fw-bold">{{ author.username }}</h2>
            </a>
            {% if author.job %}
                <h3 class="text-muted fw-lighter fst-italic">{{ author.job }}</h3>
            {% endif %}
            <hr>
            <aside class="d-flex flex-row align-items-center justify-content-between text-muted fst-italic fs-5">
                <p>
                  {% for category in article.categories %}
                      {{ category.name }}{% if not loop.last %}, {% endif %}
                  {% endfor %}
                </p>
                <p>{{ article.createdAt|ago(locale='fr') }}</p>
            </aside>
        </header>
        <!-- Main -->
        <main class="post__main">
            <div class="row">
                <div class="post__content col-12 col-md-9 fs-5">
                  <img class="img-fluid" src="{{ article.thumbnailUrl }}" alt="{{ article.title }}">
                  <h1 class="display-5 text-center my-5">{{ article.title }}</h1>

                  {# If article not validated #}
                  {% if article.isValidated != true %}
                  <div class="alert alert-warning">Cet article est en cours de relecture par la rédaction ou n'a pas été validé par celle-ci. C'est pourquoi elle n'est pas mise en avant.</div>
                  {% endif %}
                  {# Edit button #}
                  {% if is_granted('ROLE_EDITOR') %}
                  <div class="mb-5">
                      <a href="{{ path('app_article_edit', { slug: article.slug } ) }}" class="btn btn-primary" data-turbo="false">Modifier l'article</a>
                  </div>
                  {% endif %}

                  {{ article.content|raw }}
                  
                </div>
                <!-- Similar posts -->
                <aside class="post__aside col-12 col-md-3">
                    <div class="d-flex flex-column sticky-top">
                        <h3 class="mt-3">Articles similaires</h3>
                        <hr>
                        <!-- Similar post -->
                        {% for similar in similarArticles %}
                          <a href="{{ path('app_article_show', { slug: similar.slug }) }}" class="text-decoration-none my-2">
                            <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title text-light">{{ similar.title }} &#10132;</h5>
                                </div>
                            </div>
                          </a>
                        {% endfor %}
                    </div>
                </aside>
            </div>
        </main>
        <!-- Comments -->
        <hr>
        <section class="post__comments mt-5">
          <h2>Commentaires</h2>
          {% if is_granted('ROLE_USER') %}
            {% include "comment/_new.html.twig" %}
          {% else %}
              <p class="py-3 fs-5"><a href="{{ path('app_login') }}">Connectez-vous</a> et donnez votre avis sur cette publication !</p>
          {% endif %}
          <ul class="p-0">
            {% for comment in comments %}
              {% include "comment/_card.html.twig" %}
            {% endfor %}
          </ul>
        </section>
      </div>
{% endblock %}