{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}
    <div class="container my-4 col-12 col-md-6 col-lg-4">


        {{ form_start(form, {
            attr: {
                class: 'auth-form p-4'
            }
        }) }}

            <h1>Modifier votre profil</h1>

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {# Email #}
            <div class="mb-4">
                {{ form_label(form.email, 'Email', {
                    label_attr: {
                        class: 'form-label'
                    }
                }) }}
                {{ form_widget(form.email, {
                    attr: {
                        'class': 'form-control',
                        'placeholder': 'Votre addresse email'
                    }
                }) }}
                {{ form_help(form.email, {
                    help_attr: {
                        class: 'form-text'
                    }
                }) }}
                {# Error #}
                {% if form_errors(form.email) %}
                    <div class="text-danger">{{ form_errors(form.email) }}</div>
                {% endif %}
            </div>

            {# Pseudo #}
            <div class="mb-4">
                {{ form_label(form.username, 'Pseudo', {
                    label_attr: {
                        class: 'form-label'
                    }
                }) }}
                {{ form_widget(form.username, {
                    attr: {
                        'class': 'form-control',
                        'placeholder': 'Votre super pseudo'
                    }
                }) }}
                {{ form_help(form.username, {
                    help_attr: {
                        class: 'form-text'
                    }
                }) }}
                {# Error #}
                {% if form_errors(form.username) %}
                    <div class="text-danger">{{ form_errors(form.username) }}</div>
                {% endif %}
            </div>

            {# Métier #}
            <div class="mb-4">
                {{ form_label(form.job, 'Métier', {
                    label_attr: {
                        class: 'form-label'
                    }
                }) }}
                {{ form_widget(form.job, {
                    attr: {
                        'class': 'form-control',
                        'placeholder': 'Votre métier'
                    }
                }) }}
                {{ form_help(form.job, {
                    help_attr: {
                        class: 'form-text'
                    }
                }) }}
                {# Error #}
                {% if form_errors(form.job) %}
                    <div class="text-danger">{{ form_errors(form.job) }}</div>
                {% endif %}
            </div>

            {# Bio #}
            <div class="mb-4">
                {{ form_label(form.bio, 'Biographie', {
                    label_attr: {
                        class: 'form-label'
                    }
                }) }}
                {{ form_widget(form.bio, {
                    attr: {
                        'class': 'form-control',
                        'placeholder': 'Votre biographie'
                    }
                }) }}
                {{ form_help(form.bio, {
                    help_attr: {
                        class: 'form-text'
                    }
                }) }}
                {# Error #}
                {% if form_errors(form.bio) %}
                    <div class="text-danger">{{ form_errors(form.bio) }}</div>
                {% endif %}
            </div>

            {# Birthday #}
            <div class="mb-4">
                {{ form_label(form.birthday, 'Anniversaire', {
                    label_attr: {
                        class: 'form-label'
                    }
                }) }}
                {{ form_widget(form.birthday, {
                    attr: {
                        'type': 'date',
                        'class': 'form-control'
                    }
                }) }}
                {{ form_help(form.birthday, {
                    help_attr: {
                        class: 'form-text'
                    }
                }) }}
                {# Error #}
                {% if form_errors(form.birthday) %}
                    <div class="text-danger">{{ form_errors(form.birthday) }}</div>
                {% endif %}
            </div>

            {# Password #}
            <div class="mb-4">
                {{ form_label(form.password.first, 'Modifier votre mot de passe.', {
                    label_attr: {
                        class: 'form-label'
                    }
                }) }}
                {{ form_widget(form.password.first, {
                    attr: {
                        'class': 'form-control',
                        'placeholder': 'Votre mot de passe top secret'
                    }
                }) }}
                {{ form_help(form.password.first, {
                    help_attr: {
                        class: 'form-text'
                    }
                }) }}
                {# Error #}
                {% if form_errors(form.password.first) %}
                    <div class="text-danger">{{ form_errors(form.password.first) }}</div>
                {% endif %}
            </div>

            {# Repeat Password #}
            <div class="mb-4">
                {{ form_label(form.password.second, 'Répétez votre nouveau mot de passe.', {
                    label_attr: {
                        class: 'form-label'
                    }
                }) }}
                {{ form_widget(form.password.second, {
                    attr: {
                        'class': 'form-control',
                        'placeholder': 'Oui, oui, le même !'
                    }
                }) }}
                {{ form_help(form.password.second, {
                    help_attr: {
                        class: 'form-text'
                    }
                }) }}
                {# Error #}
                {% if form_errors(form.password.second) %}
                    <div class="text-danger">{{ form_errors(form.password.second) }}</div>
                {% endif %}
            </div>

            {# Avatar #}
            <div class="mb-4">
            <hr>
                <div class="row">
                    <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
                        <img class="my-4 my-md-0 img-thumbnail object-fit-cover" src="{{ user.avatarLink }}" alt="Avatar de {{ user.username }}">
                    </div>
                    <div class="col-12 col-md-8 d-flex flex-column justify-content-center align-items-center">
                        {{ form_label(form.avatarFile, 'Pour définir votre photo de profil, téléchargez une image de maximum 1 Mo', {
                            label_attr: {
                                class: 'form-label'
                            }
                        }) }}
                        {{ form_widget(form.avatarFile, {
                            attr: {
                                'class': 'form-control',
                            }
                        }) }}
                        {{ form_help(form.avatarFile, {
                            help_attr: {
                                class: 'form-text'
                            }
                        }) }}
                        {# Error #}
                        {% if form_errors(form.avatarFile) %}
                            <div class="text-danger">{{ form_errors(form.avatarFile) }}</div>
                        {% endif %}
                    </div>
                </div>
                <hr>
            </div>

            {# Submit #}
            <div class="mb-4 d-flex flex-column flex-lg-row justify-content-between align-items-center">
                <button type="submit" class="btn btn-primary mb-3 mb-lg-0">Mettre à jour</button>
            </div>

        {{ form_end(form) }}

    </div>
{% endblock %}
